pip
Django == 1.10.2
psycopg2
gunicorn
django-extensions
pandas==0.18.1
django-pandas==0.4.1
ipython
django-model-utils
Faker
requests
clint
djangorestframework
markdown
django-filter
radar
ptpython
pygraphviz
django-money
django-grappelli

